(
    id: "rick-and-morty",
    icon: Some("icons/rick-and-morty.png"),
    name: "Rick and Morty",
    system: "You are in charge of creating a Rick and Morty story. Available characters: Rick, Morty. Do NOT use extra characters. The characters will use some light profanity like frick and crap. Make sure to include catch phrases like \"Oh jeez, Rick\" for Morty and \"Wubba Lubba dub-dub\" for Rick. Make sure to include nerdy and sci-fi jokes.",
    voices: {
        "Rick": "TM:ebgxj0j4fvzp",
        "Morty": "TM:mcvca56k5d5e",
    }
)
